@font-face{
      font-family: pokemon;
      src: url(pokemon.ttf)
}

.container {
      font-family: pokemon;
      letter-spacing: 5px;
      margin: 0 auto;
      max-width: 800px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
}

header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
}

h1 {
      font-size: 54px;
}

#game{
      display: grid;
      grid-template-columns: repeat(4, 160px);
      grid-template-rows: repeat(4, 160px);
      gap: 10px;
}

.card{
      box-shadow: 0 3px 10px rgb(200,200,200, 0.9);
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      transform-style: preserve-3d;
}

.front, .back {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      backface-visibility: hidden;
      transition: transform 0.5s;
}
.front{
      background-image: url(pokeball.png);
      background-position: center ;
      background-repeat: no-repeat;
      background-color: black;
}

.rotated{
      transform: rotateY(180deg);
}

button{
      font-size:  18px;
      background-color: #c62828;
      color: white;
      border-radius: 5px;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
}